
.iq.search:before
	content: '🔍'

.iq.bars:before
	content: '≡'

.iq.cursor:before
	content: '‸'

.iq.number:before
	content: '⇵'

.iq.code:before
	content: '⇎'

.iq.switch:before
	content: '⊶'

.iq.range:before
	content: '⊸'

.iq.calendar:before
	content: '📅'

.iq.geo-point:before
	content: '⛯'

.iq.file:before
	content: '🗋'

.iq.chevron-down:before
	content: '⮟'

.iq.chevron-up:before
	content: '⮟'

.iq.chevron-left:before
	content: '⮟'

.iq.chevron-right:before
	content: '⮞'

