
a
	text-decoration: none
	color: var( --color-link )
	&.active, &:active
		color: var( --color-link-active )
	&:hover
		color: var( --color-link-hover )

kbd
	display: inline-flex
	align-items: center
	justify-content: center
	color: var( --color-extra )
	cursor: pointer
	&:hover
		color: var( --color-text )
	&:active
		color: var( --color-title )

abbr
	display: inline-flex
	align-items: center
	justify-content: center
