:root

	--title-color: rgb(29 29 31)
	--text-color: rgb(38 50 56);
	--extra-color: rgb(134 134 139)

	--link-color: rgb(0 131 143)
	--active-color: rgb(0 172 193)
	--hover-color: rgb(0 96 100)
	--visited-color: rgb(35, 49, 59)

	--focus-color: rgb(0 160 210)
	--checked-color: rgb(2 163 136)

	--canvas-color: rgb(255,255,255)
	--r-color: rgb(240, 143, 104)
	--b-color: rgb(77, 109, 159)
	--g-color: rgb(172, 221, 96)

	--border-color: rgba(0, 0, 0, .05)

	--disabled-color: rgba(0, 0, 0, .15)
	--invalid-color: rgb(242 98 33)
	--info-color: rgb(187 222 251)
	--warning-color: rgb(255 205 26)
