:root
	--color-link: rgb( 77,170,207 )
	--color-link-active: rgb(0, 117, 207)
	--color-link-hover: rgb( 24, 49, 83 )

	--color-title: rgb( 64, 64, 64 )
	--color-text: rgb( 84, 84, 84 )
	--color-extra: rgb( 134, 134, 134 )

	--border: 1px solid rgb( 224, 224, 224 )