main
	flex-grow: 1
	height: 1px
	display: grid
	grid-template-rows: 1fr
	grid-template-columns: auto 1fr auto
	align-items: stretch

.NavigationPage
	display: grid;
	grid-template-rows: auto 1fr auto
	grid-template-columns: 1fr
	box-sizing: border-box
	border-right: var(--border)
	// width: 3rem
	transition: width .3s ease-in-out
	& > kbd
		width: 3rem
		height: 3rem
		font-size: 2rem
		grid-area: 1/1/2/2
	:empty + kbd
		display: none
		width: 0px
	& > ul
		grid-area: 2/1/3/2
		list-style: none
		margin: 0px
		padding: 0px
		place-self: stretch
		overflow: none auto
		display: flex
		flex-direction: column
		position: relative
		abbr
			width: 2rem
			min-width: 2rem
			height: 2rem
			margin-left: .5rem
			position: relative
			.iq.input
				width: 2rem

		li
			position: relative
			min-width: 3rem
			width: 3rem
			transition: width .3s ease-in-out
			a
				display: block
				overflow: hidden
				display: flex
				align-items: center
			span
				flex-grow: 1
				padding: 0px 1rem
				width: 0px
				overflow: hidden
				white-space: nowrap
				text-overflow: ellipsis
				transition: padding .3s ease-in-out
	&.open
		width: 19rem
		ul
			li
				width: 100%

.ArticlePage
	align-self: stretch
	overflow: auto