
body

	--current-border-color: rgb(136, 136, 136)
	--current-border-style: solid
	--current-border-width: 1px
	--current-border: var( --current-border-width ) var( --current-border-color ) var( --current-border-style )

	--current-background-color: rgb(64, 64, 64)