
body
	--current-border-color: rgb(192, 192, 192)
	--current-border-style: solid
	--current-border-width: 1px
	--current-border: var( --current-border-width ) var( --current-border-color ) var( --current-border-style )

	--current-background-color: white

	--current-text-color: rgb(84,84,84)
	--current-extra-color: rgb(124,124,124)
	--current-title-color: rgb(64,64,64)

	--current-placeholder-color: rgb(132,132,132)

	--current-link-color: rgb(3, 155, 229)
	--current-active-color: rgb(3, 155, 229)
	--current-hover-color: rgb(26, 115, 232)
	--current-disabled-color: rgb(200, 200, 200)

	--current-error-color: rgb(244, 81, 30)
	--current-warning-color: rgb(253, 140, 9)
	--current-info-color: rgb(22, 170, 202)